@media screen and (max-width: 1350px) {
  .content,
  .card,
  .bgshadow {
    width: 30vw;
  }
}

@media screen and (max-width: 1080px) {
  .content,
  .card,
  .bgshadow {
    width: 35vw;
    height: 27; /* 475px ÷ 16 */
  }

  .card .heading h1 {
    font-size: 1.375em; /* 22px ÷ 16 */
  }
}

@media screen and (max-width: 870px) {
  * {
    font-size: 1em; /* 15px ÷ 16 */
  }

  .content,
  .card,
  .bgshadow {
    width: 45vw;
  }
}

@media screen and (max-width: 674px) {
  .content,
  .card,
  .bgshadow {
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .content,
  .card,
  .bgshadow {
    width: 60vw;
  }

  .card .heading h1 {
    font-size: 1.25em; /* 20px ÷ 16 */
  }
}

@media screen and (max-width: 530px) {
  .content,
  .card,
  .bgshadow {
    width: 63vw;
  }

  .card .heading h1 {
    font-size: 1.125em; /* 18px ÷ 16 */
  }
}

@media screen and (max-width: 520px) {
  .content,
  .card,
  .bgshadow {
    width: 70vw;
  }
}

@media screen and (max-width: 440px) {
  .content,
  .card,
  .bgshadow {
    width: 85vw;
  }
}

@media screen and (max-width: 370px) {
  * {
    font-size: 0.99em; /* 14px ÷ 16 */
  }

  .content,
  .card,
  .bgshadow {
    width: 90vw;
    height: 32em; /* 490px ÷ 16 */
  }
}

@media screen and (max-width: 330px) {
  * {
    font-size: 0.9995em; /* 13px ÷ 16 */
  }

  .content,
  .card,
  .bgshadow {
    width: 93vw;
    height:32em;
  }
}
