@media screen and (max-width: 1350px) {
  main .content {
    width: 30vw;
  }
  main .card {
    width: 30vw;
  }

  /* Shadow  */
  main .bgshadow {
    width: 30vw;
  }
}
@media screen and (max-width: 1080px) {
  main .content {
    width: 35vw;
    height: 475px;
  }
  main .card {
    width: 35vw;
    height: 475px;
  }

  /* Shadow  */
  main .bgshadow {
    width: 35vw;
    height: 475px;
  }
  main .card .heading h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 870px) {
  * {
    font-size: 15px;
  }
  main .content {
    width: 45vw;
  }
  main .card {
    width: 45vw;
  }

  /* Shadow  */
  main .bgshadow {
    width: 45vw;
  }
}
@media screen and (max-width: 674px) {
  main .content {
    width: 50vw;
  }
  main .card {
    width: 50vw;
  }

  /* Shadow  */
  main .bgshadow {
    width: 50vw;
  }
}
@media screen and (max-width: 600px) {
  main .content {
    width: 55vw;
  }
  main .card {
    width: 55vw;
  }

  /* Shadow  */
  main .bgshadow {
    width: 55vw;
  }
  main .card .heading h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 530px) {
  main .content {
    width: 63vw;
  }
  main .card {
    width: 63vw;
  }

  /* Shadow  */
  main .bgshadow {
    width: 63vw;
  }
  main .card .heading h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 520px) {
  main .content {
    width: 65vw;
  }
  main .card {
    width: 65vw;
  }

  /* Shadow  */
  main .bgshadow {
    width: 65vw;
  }
}
@media screen and (max-width: 440px) {
  main .content {
    width: 80vw;
  }
  main .card {
    width: 80vw;
  }

  /* Shadow  */
  main .bgshadow {
    width: 80vw;
  }
}

@media screen and (max-width: 360px) {
  * {
    font-size: 14px;
  }
}
@media screen and (max-width: 340px) {
  main .content {
    width: 90vw;
    height: 490px;
  }
  main .card {
    width: 90vw;
    height: 490px;
  }

  /* Shadow  */
  main .bgshadow {
    width: 90vw;
    height: 490px;
  }
}
