@media screen and (max-width: 1350px) {
  .content,
  .card,
  .bgshadow {
    width: 30vw;
  }
}

@media screen and (max-width: 1080px) {
  .content,
  .card,
  .bgshadow {
    width: 35vw;
    height: 29.7em; /* 475px ÷ 16 */
  }

  .card .heading h1 {
    font-size: 1.375em; /* 22px ÷ 16 */
  }
}

@media screen and (max-width: 870px) {
  * {
    font-size: 0.9375em; /* 15px ÷ 16 */
  }

  .content,
  .card,
  .bgshadow {
    width: 45vw;
  }
}

@media screen and (max-width: 674px) {
  .content,
  .card,
  .bgshadow {
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .content,
  .card,
  .bgshadow {
    width: 55vw;
  }

  .card .heading h1 {
    font-size: 1.25em; /* 20px ÷ 16 */
  }
}

@media screen and (max-width: 530px) {
  .content,
  .card,
  .bgshadow {
    width: 63vw;
  }

  .card .heading h1 {
    font-size: 1.125em; /* 18px ÷ 16 */
  }
}

@media screen and (max-width: 520px) {
  .content,
  .card,
  .bgshadow {
    width: 65vw;
  }
}

@media screen and (max-width: 440px) {
  .content,
  .card,
  .bgshadow {
    width: 80vw;
  }
}

@media screen and (max-width: 370px) {
  * {
    font-size: 0.875em; /* 14px ÷ 16 */
  }

  .content,
  .card,
  .bgshadow {
    width: 90vw;
    height: 30.625em; /* 490px ÷ 16 */
  }
}

@media screen and (max-width: 330px) {
  * {
    font-size: 0.8125em; /* 13px ÷ 16 */
  }

  .content {
    width: 93vw;
  }

  .card,
  .bgshadow {
    width: 90vw;
  }
}
